<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Letters</key>
  <array>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
  </array>
  <key>Numbers</key>
  <array>
    <string>1</string>
    <string>2</string>
    <string>3</string>
    <string>4</string>
    <string>5</string>
    <string>6</string>
    <string>7</string>
    <string>8</string>
    <string>9</string>
    <string>0</string>
  </array>
  <key>Punctuation</key>
  <array>
    <string>,</string>
    <string>?</string>
    <string>&apos;</string>
    <string>/</string>
    <string>(</string>
    <string>)</string>
    <string>:</string>
    <string>;</string>
    <string>=</string>
    <string>+</string>
    <string>.</string>
    <string>-</string>
    <string>@</string>
  </array>
  <key>Prosigns</key>
  <array>
    <string>A̅R̅</string>
    <string>A̅S̅</string>
    <string>B̅K̅</string>
    <string>B̅T̅</string>
    <string>C̅L̅</string>
    <string>H̅H̅</string>
    <string>K̅N̅</string>
    <string>S̅K̅</string>
  </array>
  <key>International</key>
  <array>
    <string>Ä</string>
    <string>À</string>
    <string>Ç</string>
    <string>Ð</string>
    <string>È</string>
    <string>Ñ</string>
    <string>Ö</string>
    <string>Š</string>
    <string>Ü</string>
    <string>Þ</string>
  </array>
   <key>Code</key>
   <dict>
    <key>!</key>
    <integer>430</integer>
    <key>&quot;</key>
    <integer>150</integer>
    <key>$</key>
    <integer>583</integer>
    <key>&amp;</key>
    <integer>21</integer>
    <key>&apos;</key>
    <integer>246</integer>
    <key>(</key>
    <integer>109</integer>
    <key>)</key>
    <integer>366</integer>
    <key>+</key>
    <integer>86</integer>
    <key>,</key>
    <integer>414</integer>
    <key>-</key>
    <integer>270</integer>
    <key>.</key>
    <integer>342</integer>
    <key>/</key>
    <integer>77</integer>
    <key>0</key>
    <integer>253</integer>
    <key>1</key>
    <integer>245</integer>
    <key>2</key>
    <integer>229</integer>
    <key>3</key>
    <integer>197</integer>
    <key>4</key>
    <integer>133</integer>
    <key>5</key>
    <integer>5</integer>
    <key>6</key>
    <integer>13</integer>
    <key>7</key>
    <integer>29</integer>
    <key>8</key>
    <integer>61</integer>
    <key>9</key>
    <integer>125</integer>
    <key>:</key>
    <integer>62</integer>
    <key>;</key>
    <integer>174</integer>
    <key>=</key>
    <integer>142</integer>
    <key>?</key>
    <integer>102</integer>
    <key>@</key>
    <integer>182</integer>
    <key>A</key>
    <integer>18</integer>
    <key>AC</key>
    <integer>182</integer>
    <key>AR</key>
    <integer>85</integer>
    <key>AS</key>
    <integer>21</integer>
    <key>B</key>
    <integer>12</integer>
    <key>BK</key>
    <integer>655</integer>
    <key>BT</key>
    <integer>141</integer>
    <key>C</key>
    <integer>44</integer>
    <key>CL</key>
    <integer>296</integer>
    <key>D</key>
    <integer>11</integer>
    <key>DO</key>
    <integer>478</integer>
    <key>E</key>
    <integer>1</integer>
    <key>F</key>
    <integer>36</integer>
    <key>G</key>
    <integer>27</integer>
    <key>H</key>
    <integer>4</integer>
    <key>HH</key>
    <integer>8</integer>
    <key>I</key>
    <integer>2</integer>
    <key>J</key>
    <integer>116</integer>
    <key>K</key>
    <integer>43</integer>
    <key>KN</key>
    <integer>109</integer>
    <key>L</key>
    <integer>20</integer>
    <key>M</key>
    <integer>26</integer>
    <key>N</key>
    <integer>10</integer>
    <key>O</key>
    <integer>59</integer>
    <key>P</key>
    <integer>52</integer>
    <key>Q</key>
    <integer>92</integer>
    <key>R</key>
    <integer>19</integer>
    <key>S</key>
    <integer>3</integer>
    <key>SK</key>
    <integer>326</integer>
    <key>SOS</key>
    <integer>457</integer>
    <key>T</key>
    <integer>9</integer>
    <key>U</key>
    <integer>35</integer>
    <key>V</key>
    <integer>68</integer>
    <key>VA</key>
    <integer>326</integer>
    <key>W</key>
    <integer>51</integer>
    <key>X</key>
    <integer>76</integer>
    <key>Y</key>
    <integer>108</integer>
    <key>Z</key>
    <integer>28</integer>
    <key>Ä</key>
    <integer>84</integer>
    <key>À</key>
    <integer>181</integer>
    <key>Ç</key>
    <integer>45</integer>
    <key>Ð</key>
    <integer>101</integer>
    <key>È</key>
    <integer>37</integer>
    <key>Ñ</key>
    <integer>221</integer>
    <key>Ö</key>
    <integer>60</integer>
    <key>Š</key>
    <integer>124</integer>
    <key>Ü</key>
    <integer>100</integer>
    <key>Þ</key>
    <integer>53</integer>
  </dict>
  <key>Koch</key>
  <array>
    <string>K</string>
    <string>M</string>
    <string>R</string>
    <string>S</string>
    <string>U</string>
    <string>A</string>
    <string>P</string>
    <string>T</string>
    <string>L</string>
    <string>O</string>
    <string>W</string>
    <string>I</string>
    <string>.</string>
    <string>N</string>
    <string>J</string>
    <string>E</string>
    <string>F</string>
    <string>0</string>
    <string>Y</string>
    <string>,</string>
    <string>V</string>
    <string>G</string>
    <string>5</string>
    <string>/</string>
    <string>Q</string>
    <string>9</string>
    <string>Z</string>
    <string>H</string>
    <string>3</string>
    <string>8</string>
    <string>B</string>
    <string>?</string>
    <string>4</string>
    <string>2</string>
    <string>7</string>
    <string>C</string>
    <string>1</string>
    <string>D</string>
    <string>6</string>
    <string>X</string>
    <string>B̅T</string>
    <string>S̅K</string>
    <string>A̅R̅</string>
  </array>
  <key>ProsignToSymbol</key>
  <dict>
    <key>A̅R̅</key>
    <string>➀</string>
    <key>A̅S̅</key>
    <string>➁</string>
    <key>B̅K̅</key>
    <string>➂</string>
    <key>B̅T̅</key>
    <string>➃</string>
    <key>C̅L̅</key>
    <string>➄</string>
    <key>H̅H̅</key>
    <string>➅</string>
    <key>K̅N̅</key>
    <string>➆</string>
    <key>S̅K̅</key>
    <string>➇</string>
  </dict>
  <key>SymbolToProsign</key>
  <dict>
    <key>➀</key>
    <string>A̅R̅</string>
    <key>➁</key>
    <string>A̅S̅</string>
    <key>➂</key>
    <string>B̅K̅</string>
    <key>➃</key>
    <string>B̅T̅</string>
    <key>➄</key>
    <string>C̅L̅</string>
    <key>➅</key>
    <string>H̅H̅</string>
    <key>➆</key>
    <string>K̅N̅</string>
    <key>➇</key>
    <string>S̅K̅</string>
  </dict>
</dict>
</plist>
