{
	Antenna = (
		"10 meter dipole",
		"10 meter whip",
		"3 element beam",
		"5 band vertical",
		"5 element loop",
		"7 band beam",
		beam,
		buddipole,
		"delta loop",
		dipole,
		"doublet zepp",
		"dummy load",
		"ground=plane",
		"half wave dipole",
		"inverted V",
		"light bulb",
		"log periodic",
		"long=wire",
		monobander,
		"parasitic beam",
		"quad loop",
		"quad vertical",
		quagi,
		"quarter wave vertical",
		"random wire up to balloon",
		"random wire up to kite",
		"random wire",
		rhombic,
		"symmetrical delta loop",
		"trap doublet",
		tribander,
		whip,
		yagi,
		zepp,
	);
	Call = (
		aa0et,
		aa4lr,
		aa5bt,
		aa6np,
		aa6yd,
		aa9bk,
		ab5ap,
		ab6fi,
		ac4hf,
		g0gwa,
		gm4znx,
		i5fln,
		ik5aax,
		ja1blv,
		jy1,
		k2wk,
		k5rc,
		k6ock,
		k6xo,
		k8tiy,
		k8zju,
		k9ald,
		ka0wch,
		ka1axy,
		ka1cv,
		ka1utu,
		ka1zgc,
		ka2raf,
		ka6s,
		kb0cy,
		kb2nrh,
		kb6csp,
		kb6jxt,
		kb8ovp,
		kc6skv,
		kc6sss,
		kc6tdr,
		kc6vwv,
		kd3fu,
		kd4aus,
		kd4cpl,
		ke2tp,
		ke4zv,
		kf6bzf,
		kf8nh,
		kj6nn,
		kj9u,
		"kj9u/kh6",
		kk6jq,
		km3t,
		kt7h,
		n1al,
		n1jcx,
		n4pbk,
		n4vrn,
		n5ial,
		n5op,
		n6bis,
		n6mwc,
		n6tto,
		n8emr,
		n9fzx,
		n9jrv,
		n9lff,
		n9myi,
		ne3x,
		nh6eg,
		"nh6eg/5",
		nh6zw,
		nj7e,
		nr3z,
		nt1g,
		od5ng,
		oh3bk,
		oh8nup,
		tg9vt,
		ut5rp,
		ve6mgs,
		ve7emd,
		vk2bqs,
		vk2eg,
		w0pbv,
		w0rij,
		w0rsb,
		w2fg,
		w2jgr,
		w3grg,
		w3otc,
		wa1uxa,
		wa2age,
		wa3eec,
		wa3tbl,
		wa3uqv,
		wa5rpf,
		wa6dgx,
		wa7vyj,
		wa8zgo,
		wb2cjl,
		wb4jcm,
		wb5fdp,
		wb5fkh,
		wb5nrn,
		wb7cjo,
		wb7eel,
		wb7tza,
		wb8eoh,
		wb9ivr,
		wd0eib,
		wh6ur,
		"wh6ur/5",
		w8um,
		wx9t,
	);
	Callmisc = (
		"qrk %@",
		"qrl %@",
		"qrz %@",
		"qsp %@",
		"qrk %@?",
		"qrl %@?",
		"qrz %@?",
		"qsp %@?",
	);
	City = (
		agassiz,
		aiea,
		alexander,
		alexandria,
		"ann arbor",
		asbury,
		baker,
		bayaney,
		beckley,
		bedford,
		bixby,
		branyan,
		brazoria,
		"broken arrow",
		brunswick,
		bryan,
		burnsville,
		buzzard,
		cambridge,
		carrizo,
		catoosa,
		chamizal,
		charleston,
		chepiwanoxet,
		chesuncook,
		chinquapin,
		circleville,
		claquato,
		clarksburg,
		clarksville,
		"clear lake",
		cleveland,
		coldwater,
		college,
		crystal,
		duncanville,
		elizabeth,
		enid,
		ewa,
		faalaaga,
		fairbanks,
		fairfax,
		fairfield,
		"flamboyant gardens",
		flint,
		gahanna,
		gappas,
		glenpool,
		grant,
		greensburg,
		guyandotte,
		guyanoga,
		"harper valley",
		harper,
		harquahala,
		"hells crossing",
		"hill valley",
		hillsdale,
		honolulu,
		hyannis,
		iraan,
		iyanbito,
		jamestown,
		jefferson,
		jenks,
		juncos,
		kaaawa,
		kohlsaat,
		kona,
		laager,
		lakewood,
		lancaster,
		lawrenceville,
		leyan,
		lincoln,
		litchfield,
		london,
		"long branch",
		luxello,
		lyndale,
		lyndhurst,
		lynnville,
		maaloon,
		maitwan,
		manasquan,
		mansfield,
		maple,
		meadows,
		melbourne,
		mentor,
		mercer,
		mesquite,
		midland,
		milldale,
		milltown,
		moorestown,
		moscow,
		"mountain view",
		moxee,
		murray,
		muskogee,
		musquiz,
		naxera,
		"new london",
		newfield,
		newport,
		nipgen,
		nisqually,
		nome,
		noname,
		noxubee,
		nutzotin,
		oak,
		occoquan,
		olmstead,
		owasso,
		oxford,
		oxnard,
		paradise,
		paris,
		pattaquattic,
		pawtuxet,
		perry,
		piscataquis,
		potter,
		pottsville,
		praag,
		quanah,
		quebec,
		redwood,
		rueechayaam,
		russellville,
		salem,
		"san pasqual",
		sandy,
		sapulpa,
		saratoga,
		sequatchie,
		smithville,
		snoqualmie,
		springdale,
		springfield,
		squaxin,
		starkville,
		sunnyvale,
		"sunset valley",
		suquamish,
		tahlequah,
		tahquamenon,
		texoma,
		texum,
		tinker,
		trenton,
		tulsa,
		twisp,
		umpqua,
		union,
		uruguay,
		utica,
		vancouver,
		verona,
		viroqua,
		vista,
		waldberggaard,
		walnut,
		"warners landing",
		warren,
		warsaw,
		washington,
		wesleyanna,
		weston,
		wheatfield,
		williamson,
		worchester,
		wyandanch,
		xanthus,
		xenia,
		yangtze,
		yellowstone,
		yreka,
		zolton,
		zuni,
	);
	Cityh = (
		apple,
		ashford,
		baker,
		baldwin,
		banner,
		barnard,
		benton,
		cabbot,
		carson,
		chester,
		college,
		conway,
		cornwall,
		crystal,
		duxbury,
		fletcher,
		franklin,
		granite,
		grant,
		guyan,
		hamilton,
		harper,
		hickory,
		hoosick,
		jefferson,
		lincoln,
		maple,
		mercer,
		morgan,
		morris,
		murray,
		oak,
		orwell,
		oswego,
		perry,
		potter,
		quail,
		salem,
		stafford,
		stone,
		tinker,
		walnut,
		warren,
		washington,
		weston,
		wilton,
	);
	Frqcallmisc = (
		"qrw %@ %d",
		"qrz %@ %d",
		"qsn %@ %d",
		"qsx %@ %d",
		"qrw %@ %d?",
		"qrz %@ %d?",
		"qsn %@ %d?",
		"qsx %@ %d?",
	);
	Frqmisc = (
		"qsn %d?",
		"qsu %d?",
		"qsw %d?",
		"qsn %d",
		"qsu %d",
		"qsw %d",
	);
	Heights = (
		beach,
		canyon,
		castle,
		city,
		corner,
		cove,
		creek,
		estates,
		forest,
		gardens,
		glen,
		grove,
		harbor,
		heights,
		hill,
		hills,
		hole,
		island,
		knob,
		lake,
		meadow,
		meadows,
		mill,
		mountain,
		neck,
		palisades,
		park,
		pass,
		plantation,
		ridge,
		river,
		springs,
		station,
		swale,
		terrace,
		valley,
		wood,
	);
	Job = (
		administrator,
		"airline pilot",
		artist,
		attorney,
		bricklayer,
		"bus driver",
		carpenter,
		chemist,
		clerk,
		clown,
		"college student",
		consultant,
		cook,
		"corporate liquidator",
		curator,
		dentist,
		designer,
		director,
		doctor,
		driver,
		electrician,
		engineer,
		farmer,
		fireman,
		gardener,
		geophysicist,
		guard,
		"high school student",
		"hs student",
		"human resource consultant",
		"investment banker",
		janitor,
		"jr college student",
		"juggler and unicyclist",
		"junior college student",
		lawyer,
		"letter carrier",
		librarian,
		"mafia killer",
		mathematician,
		mechanic,
		midwife,
		milkman,
		nurse,
		orthodontist,
		pacifist,
		painter,
		"petroleum engineer",
		physician,
		physicist,
		"police officer",
		politician,
		"prison guard",
		professor,
		programmer,
		researcher,
		sailor,
		"sanitation worker",
		sculptor,
		secretary,
		"security guard",
		semiotician,
		soldier,
		"sql programmer",
		"stock broker",
		student,
		"systems analyst",
		teacher,
		teller,
		vulcanologist,
		writer,
	);
	License = (
		novice,
		technician,
		tech,
		tech,
		tech,
		tech,
		tech,
		"tech plus",
		"tech no code",
		general,
		general,
		general,
		general,
		advanced,
		extra,
		extra,
		extra,
	);
	Misc = (
		"+=x/,? 73 just testing you.",
		",?/=+9 73 just testing you.",
		",?/=q+ 73 just testing u.",
		"8y67fvgb oops cat on keyboard.",
		"9p0ojgbhnw23 oops cat on keyboard.",
		"a clumsy gecko just fell on my hand.",
		"are you a communist?",
		"are you a democrat?",
		"are you a libertarian?",
		"are you a republican?",
		"are you divorced?",
		"are you good at auto repair?",
		"are you good at calculus? i have a question for you.",
		"are you good at car repair? i have a question for you.",
		"are you good at group theory? i have a question for you.",
		"are you good at summing infinite series?",
		"are you married?",
		"are you on daylight savings time?",
		"are you single?",
		"are you using a linear amplifier?",
		"are you using an iambic key?",
		"are you widowed?",
		"aye, laddie, have you ever been to sea?",
		"can you pick kryptonite locks? those are tricky.",
		"can you pick kryptonite locks?",
		"can you pick master locks? those are supposed to be easy.",
		"can you think of something else interesting to say?",
		"copy?",
		"cpy?",
		"did you attend oru?",
		"did you hear news?",
		"did you hear the news?",
		"do u understand english?",
		"do you have a baby?",
		"do you have a cat?",
		"do you have a dog?",
		"do you have a ferret?",
		"do you have a gecko?",
		"do you have a horse?",
		"do you know morse code?",
		"do you know the word copacetic?",
		"do you know the word garrulous?",
		"do you know the word prosy?",
		"do you know what a pangram is?",
		"do you like bach?",
		"do you like bernstein?",
		"do you like c and w music?",
		"do you like classical music?",
		"do you like country music?",
		"do you like hawaiian music?",
		"do you like jawaiian music?",
		"do you like modern rock?",
		"do you like mozart?",
		"do you like pop music?",
		"do you like reggae music?",
		"do you like rock music?",
		"do you like swing music?",
		"do you listen to deutsche welle?",
		"do you listen to radio australia?",
		"do you listen to radio moscow?",
		"do you listen to radio new zealand intl?",
		"do you listen to radio peace peoples republic of korea?",
		"do you listen to voa?",
		"do you listen to click and clack on npr?",
		"do you listen to morning edition on npr?",
		"do you listen to the bbc?",
		"do you prefer metric units?",
		"do you recycle often?",
		"do you understand english?",
		"do you like star trek?",
		"do you like doctor who?",
		"do you watch simpsons?",
		"gaverete ruskie?",
		"habla espanol?",
		"has the war started yet?",
		"have a nice t day.",
		"have a nice thanksgiving.",
		"have you been to hawaii recently?",
		"have you been to kauai since iniki?",
		"have you ever been to new madrid, missouri?",
		"have you ever been to the chatham islands?",
		"have you ever contacted kalawao county, molokai?",
		"have you ever contacted loving county, texas?",
		"have you ever played lemmings?",
		"have you ever played tetris?",
		"have you ever seen a computer virus?",
		"how copy so far?",
		"how copy?",
		"how did you learn morse code?",
		"how is my signal?",
		"how is the weather?",
		"how long have you been a radio amateur?",
		"how old is your rig?",
		"hows my signal?",
		"hows the weather?",
		"i am mobile and am going to the office.",
		"i am mobile and am going to work.",
		"i am mobile and driving to work.",
		"i am mobile, driving cross country.",
		"i am mobile, driving home from work.",
		"i am mobile, riding a peruvian paso horse.",
		"i am mobile, stuck in traffic.",
		"i am using a linear amplifier.",
		"i am using an iambic key.",
		"i just saw a bolide.",
		"i live at 10 downing.",
		"i live at 1010 springwood.",
		"i live at 1620 keeaumoku.",
		"i live at 2500 pennsylvania.",
		"i live at 61c escondido.",
		"i sometimes monitor ulf for earthquake precursors.",
		"i sometimes monitor ulf for earthquake precursors.",
		"i sometimes work packet on vhf.",
		"is it green there or brown?",
		"is the bad news true?",
		"is your state the one that doesnt have any city governments?",
		"is your state the one that has a unicameral legislature?",
		"is your state the one that has boroughs instead of counties?",
		"is your state the one that has parishes instead of counties?",
		"is your state the one that has townships instead of counties?",
		"ive fallen and i cant get up.",
		"jocks find quartz glyph, vex bmw.",
		"jocks find quartz glyph, vex bmw.",
		"jocks find quartz glyph, vex bmw.",
		"lots of qrm.",
		"mele kelikimaka and hauoli makahiki hou 1995.",
		"must qrt for star trek.",
		"must qrt for bathroom break.",
		"must qrt for breakfast.",
		"must qrt for cold breakfast.",
		"must qrt for cold dinner.",
		"must qrt for cold supper.",
		"must qrt for diarreah break.",
		"must qrt for dinner.",
		"must qrt for hot breakfast.",
		"must qrt for hot dinner.",
		"must qrt for hot lunch.",
		"must qrt for hot supper.",
		"must qrt for lunch.",
		"must qrt for sleep.",
		"must qrt for some sleep.",
		"must qrt for supper.",
		"must qrt invading tanks making too much noise outside to hear you.",
		"must qrt occupation forces knocking at door.",
		"must qrt to hear news about approaching hurricane.",
		"must qrt wind has blown door open again.",
		"must qrt, lightning storm has started.",
		"must qrt, lightning threatens.",
		"must qrt, nuclear attack?",
		"must qrt, tornado sirens sounding.",
		"must qrt, tsunami sirens sounding.",
		"must qrt, weather radio warbling.",
		"our neighbors have a horse named morse code.",
		"our neighbors have a horse named morse.",
		"please qrs.",
		"propagation is good.",
		"propagation is poor.",
		"propagation is very good.",
		"propagation is very poor.",
		"qlf?",
		qrg,
		qrh,
		"qri 1",
		"qri 2",
		"qri 3",
		qri,
		qrj,
		"qrk 1",
		"qrk 2",
		"qrk 3",
		"qrk 4",
		"qrk 5",
		qrk,
		qrl,
		qrm,
		"qrm?",
		"qrn 1",
		"qrn 2",
		"qrn 3",
		"qrn 4",
		"qrn 5",
		qrn,
		qro,
		qrp,
		"qrp?",
		"qrq 10",
		"qrq 15",
		"qrq 20",
		"qrq 5",
		qrq,
		"qrs 10",
		"qrs 15",
		"qrs 20",
		"qrs 5",
		qrs,
		"qrs?",
		qru,
		qrv,
		qrw,
		"qrx 0300",
		"qrx 0500",
		"qrx 2000",
		"qrx 2300",
		qrx,
		"qrx?",
		"qry 1",
		"qry 2",
		"qry 3",
		qry,
		qrz,
		"qsa 1",
		"qsa 2",
		"qsa 3",
		"qsa 4",
		"qsa 5",
		qsa,
		qsb,
		qsd,
		"qsg 1",
		"qsg 2",
		qsg,
		qsk,
		"qsk?",
		qsl,
		qsm,
		qsn,
		qso,
		qsp,
		qst,
		qsu,
		qsw,
		qsx,
		qsy,
		"qsy?",
		qsz,
		qtb,
		qtc,
		"qth?",
		qtr,
		"qtr?",
		"should we qsy?",
		"so how is the weather?",
		"sorry, stack of books just fell over.",
		"sprechen sie deutsch?",
		"thanks for the call.",
		"there is a rainbow outside the window.",
		"there is an eclipse of the moon right now.",
		"tnx for the call.",
		"tnx for the report.",
		"tnx for ur call.",
		"we are on vacation and i am mobile.",
		"we just felt a small quake here.",
		"what are your hobbies?",
		"what is the air pressure there?",
		"what is the air quality there?",
		"what is the air temperature there?",
		"what is the humidity there?",
		"what is your qth?",
		"what is your elevation?",
		"what is your hobby?",
		"what is your job?",
		"what is your sign? i am a cancer.",
		"what is your sign? i am a centaur.",
		"what is your sign? i am a fish.",
		"what time zone are you in?",
		"whats your job?",
		"when did you start to learn morse code?",
		"where do you live now?",
		"where do you live?",
		"where is hollister, california anyway?",
		"where is parkfield, california anyway?",
		"whoa, we are having an earthquake here. a real roller.",
		"would you have given morse a nobel prize?",
		"you are my first contact today.",
		"you are my last contact today.",
		"you are my second contact today.",
		"you are using a nonlinear amplifier?",
		"you are using an iambic key?",
		"your contest sequence no is 1035.",
		"your contest sequence no is 12.",
		"your contest sequence no is 17.",
		"your contest sequence no is 479.",
		"your contest sequence no is 73.",
		"your contest sequence no is 7v.",
		"your contest sequence no is 826.",
		"your contest sequence no is 99.",
		"your job is?",
		"your signal is chirpy.",
		"your signal is real strong, sounds great",
		"am using a linear amplifier.",
		"ewsqgbhjolpi oops cat on keyboard.",
		"ru using linear amplifier?",
	);
	Name = (
		al,
		alan,
		alen,
		alex,
		alexander,
		alexandra,
		alexeev,
		alice,
		allen,
		alma,
		amber,
		angel,
		anne,
		art,
		barbara,
		barbie,
		bart,
		bea,
		betty,
		bill,
		bob,
		bruce,
		bryant,
		bud,
		carl,
		carol,
		cathy,
		cheryl,
		chris,
		christy,
		chuck,
		dale,
		dan,
		dave,
		david,
		dennis,
		diane,
		dick,
		don,
		ed,
		edmund,
		edward,
		elaine,
		eleuterio,
		ellen,
		francie,
		frank,
		fred,
		gary,
		george,
		gilda,
		gus,
		hadassah,
		harry,
		hedwig,
		heika,
		helen,
		helmut,
		henry,
		heriberto,
		ingrid,
		isaac,
		israel,
		jack,
		jacob,
		jake,
		jakob,
		james,
		janae,
		jane,
		janet,
		jeff,
		jenni,
		jessica,
		jill,
		jim,
		jimbob,
		joan,
		joe,
		john,
		jon,
		kaahumanu,
		karen,
		karl,
		kathy,
		keith,
		ken,
		kent,
		kevin,
		kristen,
		kurt,
		larry,
		lauren,
		liholiho,
		linda,
		lou,
		lourdes,
		lynda,
		lynn,
		marc,
		margaret,
		maria,
		mariam,
		mark,
		marty,
		marv,
		mary,
		mike,
		monica,
		moses,
		mosha,
		nancy,
		nathan,
		neil,
		noelani,
		oliver,
		olivia,
		pal,
		pat,
		patrick,
		paul,
		paula,
		pete,
		peter,
		peto,
		phil,
		pieter,
		quimby,
		rachel,
		ralph,
		ray,
		rebekkah,
		reiko,
		rex,
		reza,
		rich,
		rick,
		ron,
		rory,
		roy,
		sally,
		sam,
		sara,
		sarah,
		scott,
		scottie,
		spencer,
		steve,
		stew,
		stu,
		sue,
		tello,
		terry,
		thomas,
		tim,
		timothy,
		todd,
		tom,
		tony,
		toshiko,
		umberto,
		vicente,
		victor,
		wallace,
		wally,
		walt,
		walter,
		wendy,
		william,
		xavier,
		yaohui,
		yolanda,
		zelda,
	);
	New = (
		new,
		old,
		north,
		south,
		east,
		west,
		new,
		old,
		north,
		northeast,
		northwest,
		south,
		southwest,
		southeast,
		east,
		west,
		upper,
		lower,
	);
	Newcity = (
		albany,
		avalon,
		barnard,
		bedford,
		bethel,
		boston,
		brunswick,
		canaan,
		chester,
		conway,
		"dime box",
		franklin,
		granville,
		hamilton,
		london,
		morris,
		oxford,
		salisbury,
		scarborough,
		stafford,
		stanton,
		trenton,
		troy,
		walpole,
		warren,
		weston,
		wilton,
		windsor,
		zulch,
	);
	Nummisc = (
		"qri %d",
		"qrk %d",
		"qrm %d",
		"qrn %d",
		"qrs %d",
		"qry %d",
		"qsg %d",
		"qta %d",
		"qtc %d",
		"qri %d?",
		"qrk %d?",
		"qrm %d?",
		"qrn %d?",
		"qrs %d?",
		"qry %d?",
		"qsg %d?",
		"qta %d?",
		"qtc %d?",
	);
	Power = (
		2,
		5,
		10,
		20,
		25,
		40,
		50,
		80,
		100,
		125,
		140,
		150,
		170,
		200,
		250,
		270,
		300,
	);
	Rig = (
		"collins 75s=3",
		"collins kwm=2",
		"drake t=4xb",
		"drake tr3",
		"drake tr4",
		"eico 753",
		"elecraft k2",
		"elecraft k3",
		"elecraft kx1",
		"hallicrafters sr150",
		"hallicrafters sr160",
		"hallicrafters sr2000",
		"hallicrafters sr400",
		"hallicrafters sr500",
		"heathkit dx=660b",
		"heathkit hg=10b",
		"heathkit hr=10",
		"heathkit hw100",
		"heathkit hw12",
		"heathkit hw12a",
		"heathkit hw22",
		"heathkit hw22a",
		"heathkit hw32",
		"heathkit hw32a",
		"heathkit hw8",
		"heathkit sb100",
		homebrew,
		"icom ic=1275",
		"icom ic=275",
		"icom ic=475",
		"icom ic=575",
		"icom ic=725",
		"icom ic=726",
		"icom ic=730",
		"icom ic=735",
		"icom ic=751",
		"icom ic=751a",
		"icom ic=765",
		"icom ic=781",
		"kenwood tr=450",
		"kenwood tr=751",
		"kenwood tr=850",
		"kenwood tr=851",
		"kenwood ts=140",
		"kenwood ts=440",
		"kenwood ts=680",
		"kenwood ts=711",
		"kenwood ts=77",
		"kenwood ts=850",
		"national ncl 200",
		"national ncx3",
		"national ncx5",
		"rs htx=100",
		"radio shack htx=100",
		"swan 120",
		"swan 140",
		"swan 180",
		"swan 240",
		"swan 350",
		"ten tec 562",
		"ten tec 585",
		"ten tec argonaut",
		"ten tec delta",
		"ten tec omni",
		"ten tec orion",
		"yaesu ft=1000",
		"yaesu ft=101",
		"yaesu ft=736",
		"yaesu ft=747",
		"yaesu ft=757",
		"yaesu ft=767",
		"yaesu ft=840",
		"yaesu ft=950",
		"yaesu ft=990",
	);
	RST = (
		555,
		577,
		578,
		579,
		588,
		589,
		599,
		478,
		354,
		248,
		126,
	);
	State = (
		alabama,
		alaska,
		arizona,
		arkansas,
		california,
		colorado,
		connecticut,
		"district of columbia",
		delaware,
		florida,
		georgia,
		guam,
		hawaii,
		idaho,
		illinois,
		indiana,
		iowa,
		kansas,
		kentucky,
		louisiana,
		maine,
		maryland,
		massachusetts,
		michigan,
		midway,
		minnesota,
		mississippi,
		missouri,
		montana,
		nebraska,
		nevada,
		"new hampshire",
		"new jersey",
		"new mexico",
		"new york",
		"north carolina",
		"north dakota",
		ohio,
		oklahoma,
		oregon,
		pennsylvania,
		"puerto rico",
		"rhode island",
		saipan,
		"american samoa",
		"south carolina",
		"south dakota",
		tennessee,
		texas,
		utah,
		vermont,
		virginia,
		"virgin islands",
		"wake island",
		washington,
		"west virginia",
		wisconsin,
		wyoming,
	);
	Upfeet = (
		10,
		15,
		20,
		25,
		30,
		35,
		40,
		45,
		50,
		55,
		60,
		65,
		70,
		75,
		80,
		85,
		90,
		95,
		100,
		10,
		11,
		12,
		13,
		14,
		15,
		16,
		17,
		18,
		19,
		20,
		"10 1/2",
		"11 1/2",
		25,
		"29 1/2",
		30,
		35,
		40,
		42,
		45,
		"45 1/2",
		"45.5",
		50,
		55,
		60,
		62,
		65,
		70,
		75,
		80,
		85,
		"87 1/3",
		90,
		95,
		100,
		103,
		137,
		"189 1/2",
		210,
		246,
		250,
	);
	Weather1 = (
		sunny,
		rain,
		"freezing rain",
		sleet,
		snow,
		cloudy,
		"partly cloudy",
		"partly sunny",
		clear,
	);
	Weather2 = (
		"a blue norther",
		"a noreaster",
		"a siberia express",
		"chinook winds",
		cloudy,
		"cold and windy",
		"cold/dry",
		"cool/windy",
		damp,
		drizzling,
		"fog/drizzle",
		foggy,
		"gale force winds",
		"gentle rain",
		"gusting trade winds",
		hailing,
		"horizontal rain",
		"hot and humid",
		"hot and windy",
		hot,
		"hot/dry",
		"hot/humid",
		"hot/muggy",
		"hot/smoggy",
		humid,
		"kona winds",
		"pleasantly cool",
		"pleasantly warm",
		"raining cats and dogs",
		raining,
		"santa anna winds",
		sleeting,
		smoggy,
		snowing,
		"spitting rain",
		sunny,
		"tornadic winds",
		"trade winds",
		"uncomfortably hot",
		"very cold",
		"very hot",
		"very windy",
		warm,
		wet,
		"wet/foggy",
		"wet/windy",
		"windy and warm",
		windy,
	);
}
